/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='cupcake'] {
  background-color: #f3e8ff; /* ค่าสีของ cupcake */
  color: #6b7280; /* ค่าสีของ cupcake-content */
}

[data-theme='bumblebee'] {
  background-color: #fbbf24; /* ค่าสีของ bumblebee */
  color: #1f2937; /* ค่าสีของ bumblebee-content */
}

[data-theme='emerald'] {
  background-color: #10b981; /* ค่าสีของ emerald */
  color: #ffffff; /* ค่าสีของ emerald-content */
}

body {
    font-family: 'Roboto', sans-serif;
  }  